.info-ul{
    padding: 0.3rem;
}
.info-ul li{
    padding: 0.23rem 0;
    border-bottom: 1px dashed #d2d2d2;
}
.info-ul li:last-child{
    border: none;
}
.info-ul li .top{
    margin-bottom: 0.28rem;
}
.info-ul li .top .number{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #fff;
    font-size: 0.34rem;
    font-weight: 900;
    border-radius: 0.08rem;
    background: linear-gradient(to bottom, #90cdfb, #3196fb);
}
.info-ul li .top .title{
    display: inline-block;
    font-weight: bold;
    font-size: 0.34rem;
}
.info-ul li .detail{
    width: 100%;
    font-size: 0.28rem;
    font-weight: bold;
    height: 0.7rem;
}