.content{
    padding: 0.15rem 0.3rem 0.3rem;
}
.content li{
    padding: 0.12rem 0;
    border-bottom: 1px dashed #d2d2d2;
}
.content li .con-lf{
    margin-top: 0.2rem;
    width: 1rem;
    height: 0.92rem;
    text-align: center;
    background: #f7f7f7;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    font-weight: bold;
}
.content li .con-lf .day{
    font-weight: 900;
    font-size: 0.3rem;
    color: #999999;
    margin-top: 0.16rem;
}
.content li .con-rt{
    margin-left: 1.05rem;
    line-height: 0.48rem;
}
.content li .con-rt .title{
    font-size: 0.32rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content li .con-rt .detail{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
#page{
    margin-bottom: 0.4rem;
}